


/*!Protože píšeš kód sama z úplné nuly, nezapomeň: - ověř, že v hlavičce HTML je responzivní meta tag "viewport", aby web správně fungoval na mobilních zařízeních - vlož na začátek CSS nastavení box-sizing: border-box; pro všechny prvky - pokud nechceš, tak toto striktně vzato dělat nemusíš, ale nastavování velikostí prvků pak pro tebe bude peklo :)*/

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body{
    font-family: "Montserrat", sans-serif;
    color: #8B8B8B;
    text-align: center;
    border: 1px solid #8B8B8B;
    background-color: #FAFAFA;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    padding-bottom: 60px;
    max-width: 100%;

}

h1{
    font-size: 28px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-size: 16px;
    color: black;
    margin-top: 60px;
}

.logo {
    max-width: 350px;
    max-height: 290px;
    margin: 60px 75px 40px 75px;
}
.uvodnitext{
    margin-top: 40px;
}


.modre{
    display: inline-block;
    border: 2px solid #407BFF;
    border-radius: 20px;
    background-color: #407BFF;
    padding:10px 30px 10px 30px;
    color: white;
    margin-top:  0;
    font-size: 14px;
    
}


.sede{
    display: inline-block;
    border: 2px solid #8B8B8B;
    border-radius: 20px;
    background-color: #8B8B8B;
    padding:10px 30px 10px 30px;
    color: white;
    margin-top: 0;
    font-size: 14px;
   
}



.nabidka{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    padding: 20px 0 20px 0;
    font-size: 13px;
}

.symbol{
    height: 40px;
    width: 40px;

}

.popis{
    margin-top: 17px;
    margin-bottom: 30px;
    
}

@media screen and (min-width: 641px) and (max-width: 1099px) {

body{
    max-width: 768px;
}
.logo{
    margin: 60px 110px 30px 110px;
}

.tlacitka {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    

}
/* .sede,
.modre{
    flex: 1 1 calc((100%-20px)/2); */


.logo{
    width:400px;
    height: 332px;

}
.popis,
.uvodnitext{
    padding: 0 110px;
}


.sluzby{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.nabidka{
    flex: 1 1 calc((100%-20px)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 172px;
    max-width: 100%;
}  

.symbol{
    text-align: center;
    max-width: 100%;

}

}